<% provide(:title, "About") %>

<div class="center" id="about-list">
 <h1>About</h1>
    <p id="list-item">アプリ製作者 : 井上拓郎</p>
    <p id="list-item">職歴：元日本食料理人</p>
    <p id="list-item">エンジニア目指して日々勉強中</p>
</div>