<% provide(:title, "Contact") %>

<div class="center" id="about-list">
   <h1>Contact</h1>
     <p id="list-item">Twitter : @takutaku1913</p>
     <p id="list-item">email : imuri.1g1g@gmail.com</p>

</div>