<li>
  <% if user.image? %>
　　<%= image_tag user.image.thumb.url, size: '50x50' %>
  <% else %>
　  <%= gravatar_for user, size: 50 %> 
  <% end %>
  
  <%= link_to user.name, user %>
  <% if current_user.admin? && !user.admin %>
    | <%= link_to "削除する", user, method: :delete,
                                  data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</li>