<footer class="footer">
  <% if logged_in? %>
    <%= link_to root_path do %>
      <p id="post-icon"><i class="fas fa-camera-retro fa-4x fa-spin"></i></p>
    <% end %>
  <% end %>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>