<header class="navbar navbar-fixed-top navbar-inverse" id="nav-style">
      <div class="container">
        <%= link_to "Cook share", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help",   help_path %></li>
            <li><%= link_to "Log in", '#' %></li>
            <li><form class="form-inline" id="form-btn">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>
          </ul>
        </nav>
      </div>
</header>